{% if current_controller.current_item > 0 %}

<ol class="breadcrumb">
  <li><a href="/{{ current_controller.controller }}/{{ current_controller.current_view }}">Views</a></li>
  <li class="active">{{ data.data[1] }}</li>
</ol>

<form>

<div class="col-lg-3">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" placeholder="Enter title" value="{{ data.data[1] }}" required>
    </div>
    <div class="form-group">
        <label for="position">Position</label>
        <input type="text" class="form-control" id="position" placeholder="Enter position" value="{{ data.data[4] }}" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-save"><span class="glyphicon glyphicon-ok"></span> Save</button>
        <button class="btn btn-success btn-save-and-close"><span class="glyphicon glyphicon-saved"></span> Save and close</button>
    </div>
</div>
<div class="col-lg-9">
    <div class="form-group">
        <label for="config">Config</label>
        <textarea rows="10" cols="15" class="form-control" id="config">{{ data.data[3] }}</textarea>
    </div>


</div>
</form>

{% else %}

<div class="table-responsive user-list ui-form">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th style='width:50px;'>#</th>
                <th>Title</th>
                <th>Position</th>
                <th style='width:90px;'>
                    
                </th>
            </tr>
        </thead>
        <tbody>
           {% for s in data.data %}

            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[4] }}</td>
                <td>
                    <button class="btn btn-default btn-sm btn-edit btn-primary" data-id-obj="{{ s[0] }}" data-action="edit"><span class="glyphicon glyphicon-edit"></span> Edit</button>    
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}