$fa-font-path : "/static/fonts/";

@import "vendor/_bootstrap.scss";
@import "vendor/bootstrap-material-design.scss";
@import "vendor/font-awesome/font-awesome.scss";

h1 {
    font-family : 'Roboto Slab';
}

.bottomright {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
