{% extends "base.html" %}
{% block body %}
<!--
<div class="view_switcher">
    <div class="btn-group">
      <button type="button" onClick="window.location.href='/jobs/active'" class="btn {{ "active" if current_view=="active"}} btn-default">Active</button>
      <button type="button" onClick="window.location.href='/jobs/completed'" class="btn {{ "active" if current_view=="completed"}} btn-default">Completed</button>
      <button type="button" onClick="window.location.href='/jobs/failed'" class="btn {{ "active" if current_view=="failed"}} btn-default">Failed</button>
    </div>
</div>
-->


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th style='width:50px;'>#</th>
                <th>Title</th>
                <th>Aspect</th>
            </tr>
        </thead>
        <tbody>
            {% for asset in assets%}
                <tr>
                    <td>{{ asset.id }}</td>
                    <td class='oneliner'>{{ asset["title"] }}</td>
                    <td>{{ asset["video/aspect_ratio"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
