{% extends "base.html" %}

{% block css %}

{% include "configuration/css."+current_controller.current_view+".html" ignore missing %}

{% endblock %}

{% block body %}

<div class="configuration-nav">

  {% set activeClass = " class=\"active\"" %}

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="nx-settings" }}>
      <a href="/configuration/nx-settings">Settings</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="storages" }}>
      <a href="/configuration/storages">Storages</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="views" }}>
      <a href="/configuration/views">Views</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="services" }}>
      <a href="/configuration/services">Services</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="channels" }}>
      <a href="/configuration/channels">Channels</a>
    </li>
    <li role="presentation"{{ activeClass|safe if current_controller.current_view=="system-tools" }}>
      <a href="/configuration/system-tools">System tools</a>
    </li>
</div>

{% include "configuration/body."+current_controller.current_view+".html" ignore missing %}


{% endblock %}


{% block js %}

{% include "configuration/js."+current_controller.current_view+".html" ignore missing %}

{% endblock %}