
<div class="table-responsive user-list ui-form">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th style='width:50px;'>#</th>
                <th>Title</th>
                <th class="hidden-xs">Path</th>
                <th style='width:90px;'>
                    
                </th>
            </tr>
        </thead>
        <tbody>
           {% for s in data.storages %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td class="hidden-xs">{{ s[3] }}</td>
                <td>
                    <button class="btn btn-default btn-sm btn-edit btn-primary" data-id-obj="{{ s[0] }}" data-action="edit"><span class="glyphicon glyphicon-edit"></span> Edit</button>    
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>