{% extends "base.html" %}
{% block body %}
<div class="view_switcher">
    <div class="btn-group">
      <button data-controller="/jobs/active" class="btn {{ "active" if current_controller.current_view=="active"}} btn-default">Active</button>
      <button data-controller="/jobs/completed" class="btn {{ "active" if current_controller.current_view=="completed"}} btn-default">Completed</button>
      <button data-controller="/jobs/failed" class="btn {{ "active" if current_controller.current_view=="failed"}} btn-default">Failed</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th style='width:50px;'>#</th>
                <th>Asset</th>
                <th>Action</th>
                <th>Priority</th>
                <th style='width:160px;'>Progress</th>
                <th style='width:150px;'>Status</th>
                <th style='width:50px;'>&nbsp;</th>
            </tr>
        </thead>
        <tbody id='jobs_body'>
            {% for job in jobs%}
                <tr>                
                    <td>{{ job.id_job }}</td>
                    <td class='oneliner'>{{ job.asset_title }}</td>
                    <td>{{ job.action_title }}</td>
                    <td>{{ job.priority }}</td>
                    
                    <td id='job_progress_{{job.id_job}}'>
                        {% if job.progress == -2%}
                            <span class="glyphicon glyphicon-ok"></span>
                        {% elif job.progress == -3%}
                            <span class="glyphicon glyphicon-remove"></span>
                        {% else %}
                            <div class="progress job-progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ job.progress }}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.progress }}%;"></div>
                            </div>
                        {% endif %}
                    </td>
                    
                    <td id='job_msg_{{job.id_job}}'>{{job.message}}</td>
                    
                    <td class="action-box">
                        {% if job.progress < -1 %}
                            <button class="btn btn-default btn-xs btn-primary job-action" data-action="-1" data-id-job="{{job.id_job}}"><span class='glyphicon glyphicon-repeat'></span></button>
                        {% else %}
                            <button class="btn btn-default btn-xs btn-danger job-action" data-action="-1" data-id-job="{{job.id_job}}"><span class='glyphicon glyphicon-remove'></span></button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}



{% block js %}
    <script type='text/javascript'>
    
    /* ******************     
    | States
        
        PROGRESS  = 0-100   
        PENDING   = -1
        COMPLETED = -2
        FAILED    = -3
        ABORTED   = -4
    | 
    ******************* */ 

    var job_action = function(e){
        
        var data = {
            id_job : e.data('id-job'), 
            action : e.data('action')
        }

        nx.com.post({
            url: nx.settings.controller+'/{{ current_controller.current_view }}',
            data: data,
            element: $('#nx-messages'),
            notifyDone: true,
            notifyFail: true,
            notifyError: true,
            postDone: load_job_callback
        });        
    }

    var load_job_callback = function(){
        document.location.href = nx.settings.controller+'/{{ current_controller.current_view }}';
    }

    {% if current_controller.current_view=="active"%}

    var timeout_init = function() {
        setTimeout('update_progress()', 2000);
    }

    function update_progress() {
        
        $.getJSON(nx.settings.controller+"/json").done(function(data) {
            $.each( data, function( id_job, item ) {
                pval = item[0];
                pmsg = item[1];
                
                if (pval == -2){
                    $("#job_progress_" + id_job).html("<span class='glyphicon glyphicon-ok'></span>");
                }
                else if (pval == -3){
                    $("#job_progress_" + id_job).html("<span class='glyphicon glyphicon-remove'></span>");
                }
                else {
                    $("#job_progress_" + id_job + " .progress-bar").css('width', pval+'%').attr('aria-valuenow', pval); 
                }
             
                $("#job_msg_" + id_job).html(pmsg);

              });
            });

        timeout_init();
    }

    $(document).ready(function(){
        timeout_init();
    }); // document ready

    {% endif %}

    $('.action-box').on('click', '.job-action', function(){
        job_action($(this));    
    });

    $('.view_switcher').on('click', 'button', function(e){
        e.preventDefault();
        var controller = $(this).data('controller');
        document.location.href = controller;
    });

    </script>

{% endblock%}