{% extends "base.html" %}
{% block body %}
<div class="view_switcher">
    
	<div class="col-lg-12">

		{% set activeClass = " class=\"active\"" %}

		<ul class="nav nav-tabs">
		  <li role="presentation"{{ activeClass|safe if current_controller.current_view=="active" }}>
		  	<a href="/jobs/active{{ "/search/"+current_controller.search if current_controller.search|length>1 }}">Active</a>
		  </li>
		  <li role="presentation"{{ activeClass|safe if current_controller.current_view=="completed" }}>
		  	<a href="/jobs/completed{{ "/search/"+current_controller.search if current_controller.search|length>1 }}">Completed</a>
		  </li>
		  <li role="presentation"{{ activeClass|safe if current_controller.current_view=="failed" }}>
		  	<a href="/jobs/failed{{ "/search/"+current_controller.search if current_controller.search|length>1 }}">Failed</a>
		  </li>

		  <li role="form" class="pull-right">
			<form class="job_search form-inline" role="form" method="GET" action="/jobs/{{ current_controller.current_view }}/search">
				<div class="form-group">
					<div class="input-group">
						<label class="sr-only" for="fulltext">Search job</label>
						<input type="text" class="form-control input-md job-fulltext" placeholder="Search term" name="job-search" value="{{ current_controller.search }}">
						<div class="input-group-addon">
							<button class="btn-job-search btn btn-xs"><span class="glyphicon glyphicon-search"></span></button>
							<button class="btn-job-search-clear btn btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
						</div>
					</div>
				</div>
			</form>
		  </li>	
		</ul>

<!--
	<div class="col-md-offset-4 col-sm-offset-2 col-sm-8 col-xs-12 col-md-4">

	    <div class="btn-group job_state pull-left">
	      <button data-controller="/jobs/active{{ "/search/"+current_controller.search if current_controller.search|length>1 }}" class="btn {{ "active" if current_controller.current_view=="active" }} btn-default">Active</button>
	      <button data-controller="/jobs/completed{{ "/search/"+current_controller.search if current_controller.search|length>1 }}" class="btn {{ "active" if current_controller.current_view=="completed" }} btn-default">Completed</button>
	      <button data-controller="/jobs/failed{{ "/search/"+current_controller.search if current_controller.search|length>1 }}" class="btn {{ "active" if current_controller.current_view=="failed" }} btn-default">Failed</button>
	    </div>
		<form class="job_search form-inline" role="form" method="GET" action="/jobs/{{ current_controller.current_view }}/search">
			<div class="form-group">
				<div class="input-group">
					<label class="sr-only" for="fulltext">Search job</label>
					<input type="text" class="form-control input-md job-fulltext" placeholder="Search term" name="job-search" value="{{ current_controller.search }}">
					<div class="input-group-addon">
						<button class="btn-job-search btn btn-xs"><span class="glyphicon glyphicon-search"></span></button>
					</div>
				</div>
			</div>
		</form>
-->


	</div>	

	<div class="clearfix"></div>
</div>


<div class="col-lg-12">
	<div class="table-responsive">
	    <table class="table table-hover table-striped">
	        <thead>
	            <tr>
	                <th style='width:50px;'>#</th>
	                <th>Asset</th>
	                <th>Action</th>
	                <th>Priority</th>
	                <th style='width:160px;'>Progress</th>
	                <th style='width:150px;'>Status</th>
	                <th style='width:50px;'>&nbsp;</th>
	            </tr>
	        </thead>
	        <tbody id='jobs_body'>
	            {% for job in jobs%}
	                <tr>                
	                    <td>{{ job.id_job }}</td>
	                    <td class='oneliner'>{{ job.asset_title }}</td>
	                    <td>{{ job.action_title }}</td>
	                    <td>{{ job.priority }}</td>
	                    
	                    <td id='job_progress_{{job.id_job}}'>
	                        {% if job.progress == -2%}
	                            <span class="glyphicon glyphicon-ok"></span>
	                        {% elif job.progress == -3%}
	                            <span class="glyphicon glyphicon-remove"></span>
	                        {% else %}
	                            <div class="progress job-progress">
	                                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ job.progress }}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ job.progress }}%;"></div>
	                            </div>
	                        {% endif %}
	                    </td>
	                    
	                    <td id='job_msg_{{job.id_job}}'>{{job.message}}</td>
	                    
	                    <td class="action-box">
	                        {% if job.progress < -1 %}
	                            <button class="btn btn-default btn-xs btn-primary job-action" data-action="-1" data-id-job="{{job.id_job}}"><span class='glyphicon glyphicon-repeat'></span></button>
	                        {% else %}
	                            <button class="btn btn-default btn-xs btn-danger job-action" data-action="-4" data-id-job="{{job.id_job}}"><span class='glyphicon glyphicon-remove'></span></button>
	                        {% endif %}
	                    </td>
	                </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	</div>
</div>
{% endblock %}



{% block js %}
    <script type='text/javascript'>
    
    /* ******************     
    | States
        
        PROGRESS  = 0-100   
        PENDING   = -1
        COMPLETED = -2
        FAILED    = -3
        ABORTED   = -4
    | 
    ******************* */ 

    var search_cache = '{{ current_controller.search }}';
    var redirect_path = search_cache.length>1 ? $('.job_search').attr('action')+'/'+search_cache: nx.settings.controller+'/{{ current_controller.current_view }}'; 

    var job_search = function(){
        var search = $('.job-fulltext').val();
        if(search.length>1){
        	var url = $('.job_search').attr('action')+'/'+search;
        	document.location.href = url;
        }else{
        	var url = $('.job_search').attr('action')+'/'+search;
        	document.location.href = '/jobs/{{ current_controller.current_view }}';
        }
    }

    var job_action = function(e){
        
        var data = {
            id_job : e.data('id-job'), 
            action : e.data('action')
        }

        nx.com.post({
            url: nx.settings.controller+'/{{ current_controller.current_view }}',
            data: data,
            element: $('#nx-messages'),
            notifyDone: true,
            notifyFail: true,
            notifyError: true,
            postDone: load_job_callback
        });        
    }

    var load_job_callback = function(){
        document.location.href = redirect_path;
    }


{% if current_controller.current_view=="active"%}

    /* ***********************
	|
	| ACTIVE JOBS LIVE UPDATE
	| START
	*********************** */ 	

    var timeout_init = function() {
        setTimeout('update_progress()', 2000);
    }

    function update_progress() {
        
        $.getJSON(nx.settings.controller+"/json").done(function(data) {
            $.each( data, function( id_job, item ) {
                pval = item[0];
                pmsg = item[1];
                
                if (pval == -2){
                    $("#job_progress_" + id_job).html("<span class='glyphicon glyphicon-ok'></span>");
                }
                else if (pval == -3){
                    $("#job_progress_" + id_job).html("<span class='glyphicon glyphicon-remove'></span>");
                }
                else {
                    $("#job_progress_" + id_job + " .progress-bar").css('width', pval+'%').attr('aria-valuenow', pval); 
                }
             
                $("#job_msg_" + id_job).html(pmsg);

              });
            });

        timeout_init();
    }

    // ts go
    $(document).ready(function(){
        timeout_init();
    }); 

    /* ***********************
	|
	| ACTIVE JOBS LIVE UPDATE
	| END
	*********************** */ 	

{% endif %}
	
	if(search_cache.length>0){
		$('.job-fulltext').css({
			'border-color': 'rgba(82,168,236,.8)',
			'outline': '0',
			'outline': 'thin dotted \9',
			'-webkit-box-shadow': '0 0 8px rgba(82,168,236,.6)',
			'box-shadow': '0 0 8px rgba(82,168,236,.6)'
		});
	}

	$('.job_search').on('submit', function(e){
		e.preventDefault();
		job_search();
	});

	$('.btn-job-search').on('click', function(e){
		e.preventDefault();
		job_search();
	});

	$('.btn-job-search-clear').on('click', function(e){
		e.preventDefault();
		$('.job-fulltext').val('');
		job_search();
	});

    $('.action-box').on('click', '.job-action', function(){
        job_action($(this));    
    });

    $('.job_state').on('click', 'button', function(e){
        e.preventDefault();
        var controller = $(this).data('controller');
        document.location.href = controller;
    });

    </script>

{% endblock%}