<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% if user %}{{ user.login }}@{% endif %}{{ site.name }}</title>

    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    {% for stylesheet in site.css %}<link rel="stylesheet" type="text/css" href="{{ stylesheet }}"/>
    {% endfor %}
    {% for stylesheet in page.css %}<link rel="stylesheet" type="text/css" href="{{ stylesheet }}"/>
    {% endfor %}
</head>

<body class="app-{{ view }}">
    {% if user %}{% include "includes/nav.html" %}{% endif %}
    {% if flash_messages %}<ul>
    {% for message, level in flash_messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>{% endif %}

    <div class="container-fluid main" id="main">
        {% block content %}
        {% endblock %}
    </div> <!-- /container-fluid main -->

    {% if site.js %}<!-- Site javascripts -->{% for script in site.js %}
    <script src="{{ script }}"></script>{% endfor %}{% endif %}
    {% if page.js %}<!-- Page javascripts -->{% for script in page.js %}
    <script src="{{ script }}"></script>{% endfor %}{% endif %}
</body>
</html>
