{% extends "_base.html" %}

{% block content %}
<div class="col-md-6">

    <div class="panel panel-default">
        <div class="panel-heading"><i class="small material-icons">report_problem</i> Problems</div>
        <div class="panel-body">
            <div class="list-group">
                {% for i in range(5) %}
                <div class="list-group-item">
                    <div class="row-content">
                        <div class="action-secondary"><i class="material-icons">info</i></div>
                        <h4 class="list-group-item-heading">Encoding failed</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="list-group-separator"></div>
                {% endfor %}
            </div>
        </div>
    </div>

</div>


<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="small material-icons">storage</i> Storages utilization</div>
        <div class="panel-body">

            <div class="list-group">
                {% for i in range(5) %}
                <div class="list-group-item">
                    <div class="row-content">
                        <div class="action-secondary"><i class="material-icons">info</i></div>
                        <h4 class="list-group-item-heading">NAS 0{{i + 1}}</h4>
                        {% raw %}
                        <p class="list-group-item-text">{{ progress }}% of 40TB free.</p>
                        <div class="progress"><div class="progress-bar progress-bar-success" v-bind:style="{ width: progress+'%' }"></div></div>
                        {% endraw %}
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading"><i class="small material-icons">trending_up</i> Performance</div>

            <div class="list-group">
                {% for i in range(5) %}
                <div class="list-group-item">
                    <div class="row-content">
                        <div class="action-secondary"><i class="material-icons">info</i></div>
                        <h4 class="list-group-item-heading">WORKER 0{{i + 1}}</h4>
                        {% raw %}
                        <p class="list-group-item-text">{{ progress }}% of 8 CPU cores</p>
                        <div class="progress"><div v-bind:class="{'progress-bar' : true, 'progress-bar-success' : progress < 50, 'progress-bar-danger' : progress >= 50}" v-bind:style="{ width: progress+'%' }"></div></div>
                        {% endraw %}
                    </div>
                </div>
                {% endfor %}
            </div>


    </div>
</div>


{% endblock %}
